.container{
    position: relative;
    width: 100%;
}

.container img{
    width: 100%;
    height: auto; 
}

.container .btn {
    position: absolute;
    background: transparent;
    border-color: transparent;
    outline: none;
}

#playground{
    top: 13%; left: 46%; width: 16%; height: 30%;
}

#shop{
    top: 13%; left: 62%; width: 10%; height: 30%;
}